.esc {
	width: 100%;
	height: 100%;
}
.logo {
    position: fixed; /* Deixa a logo fixada na tela, não se move */
    top: -93px; /* Fica no topo da tela */
    left: 50%; /* Centraliza no meio da tela na horizontal */
    transform: translateX(-50%); /* Corrige a posição para o meio exato */
    display: block; /* Faz o elemento se comportar como um bloco */
    margin: 0 auto;
    width: 310px; /* Largura da imagem */
    height: 310px; /* Altura da imagem */
    opacity: 0.8; /* Transparência da imagem */
    -webkit-animation: pulseBounce 2.5s infinite; /* Animação para navegadores  */
    animation: pulseBounce 2.5s infinite; /* Animação padrão */
}
