* {
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}


@font-face {
	font-family: Bebas;
	src: url("bebas.ttf");
}

.console {
	background-color: white;
	color: #ff0000;
}

/* menu */

.menu {
	top: 20%;
	right: 25%;
	position: fixed;
	font-family: arial;
	color: #6F6F6F;
	width: 202px;
	height: 458px;
	text-align: center;
}

.menu_description {
	position: absolute;
	top: 20%;
	right: 10%;
	margin-top: 11px;
	margin-left: 11px;
}

.menu_description text01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.7);
	background: rgba(0, 0, 0, 0.7);
	width: 80px;
	padding: 7px 12px;
	font-weight: 700;
	float: left;
	margin-bottom: 2px;
}

.menu_description text02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
	background: #ff0000;
	width: 70px;
	padding: 7px 12px;
	float: left;
	margin-bottom: 2px;
}

.menu h1 {
	background: rgba(10, 10, 10, 0.95);
	text-transform: uppercase;
	color: white;
	height: 50px;
	line-height: 50px;
	letter-spacing: 3px;
	font-size: 24px;
	color: #fff;
	font-family: Bebas !important;
	font-weight: 300;
	margin-bottom: 10px;
	border-radius: 3px;
	text-shadow: 1px 1px #000;
}

.choices {
	overflow-y: scroll;
	overflow-x: hidden;
}

.choices::-webkit-scrollbar {
	display: none;
}

.choices>div {
	text-transform: uppercase;
	background: rgba(20, 20, 20, 0.95);
	line-height: 40px;
	height: 40px;
	border: 0;
	color: #fff;
	margin-bottom: 10px;
	border-radius: 3px;
	letter-spacing: 1px;
	text-shadow: 1px 1px #000;
	border-bottom: 1px solid rgba(5, 5, 5, 0.9);
	font-size: 12px;
}

.choices .selected {
	background: rgba(53, 72, 51);
	border-bottom: 1px solid rgba(5, 5, 5, 0.9);
}

.wprompt {
	font-family: Arial;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	width: 600px;
	height: 150px;
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
}

.wprompt h1 {
	font-size: 14px;
	padding: 7px 0 12px 5px;
}

.wprompt textarea {
	outline: none !important;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.2);
	flex: 1;
	color: #ccc;
	font-size: 15px;
	width: 100%;
	padding: 10px;
	resize: none;
	box-sizing: border-box;
}

.wprompt textarea:focus {
	outline: none !important;
}

.wprompt .help {
	font-size: 12px;
	padding: 12px 0 7px 5px;
}

.requestManager {
	position: absolute;
	right: 50px;
	bottom: 120px;
	user-select: none;
	font-family: 'Montserrat', sans-serif;
}

.requestManager .request {
	position: relative;
	right: 0;
	bottom: 0px;
	width: 300px;
	color: #fff;
	padding: 20px 25px;
	border-radius: 5px;
	margin-bottom: 15px;
	background-color: rgba(0, 0, 0, 0.5);
}

.requestManager .request::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background: linear-gradient(to bottom, rgba(36, 36, 36, 0.671), transparent);
}

.requestManager .request header {
	position: relative;
	display: flex;
	letter-spacing: 0;
	align-items: center;
}

.requestManager .request header div {
	position: absolute;
	padding: 7px;
	font-size: 10px;
	border-radius: 5px;
	letter-spacing: .8px;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.5);
}

.requestManager .request header div:last-child {
	right: 0px;
}

.requestManager .request header #accept {
	right: 90px;
	color: #ffffffd5;
	font-weight: bold;
	background-color: #ff0000;
}

.requestManager .request header .icon {
	margin-right: 7px;
}

.requestManager footer {
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.requestManager .fill {
	position: relative;
	top: 20px;
	left: 0;
	padding: 0;
	height: 3px;
	width: 100%;
	border-radius: 30px !important;
	background-color: #ffffff;
}